body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 32px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.first {
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding: 0px 300px;
}

.header-c {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

img.placeholder {
    width: 450px;
    height: 200px;
    border: 1px solid pink;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    background-color: royalblue;
    border: 1px solid royalblue;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.first-l {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.second-c {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.item {
    max-width: 200px;
}

.second {
    text-align: center;
    padding: 52px;
}

img.illus {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 10%;
}

h2 {
    padding: 0;
    padding-bottom: 52px;
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.third {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 100px 300px;
    background-color: #e5e7eb;
}

.third p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}

p.end {
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
}